<tr>
  <td>
    <%= link_to "#{locals[:path_name]}", "https://rails-engine-100716.herokuapp.com/api/v1/#{locals[:path]}", class: "btn btn-primary btn-xs" %>
  </td>
  <td>
    <%= locals[:path_display] %>
  </td>
  <td>
    <%= locals[:description] %>
  </td>
</tr>
